.intro{
font-family: 'Dosis', sans-serif;
}

.used1{
font-family: 'Fira Sans', sans-serif;
}

.oxygen{
  font-family: 'Oxygen', sans-serif;
}
.oxygencolor{
  font-family: 'Oxygen', sans-serif;
  color: gray;
}

.serif{
  font-family: 'PT Serif', serif;
}

/* Split Screen */
.left-half {
position: fixed;
left: 0;
width: 30%;
background-color: #c2d6d6;
height:100%;
}
  .lefthalf{
  height: 250px;
  width: 350px;
}
.right-half{
  /* position: absolute;
  right: 0px;
  width: 70%; */
  background-color: white;
 position: absolute;
 right: 0px;
 width: 70%;

 margin-top: 0px;
 margin-bottom: 0px;
 margin-right: -10px;
 margin-left: 10px;
}

.margin{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 10px;
}

.photo{
  height:250px;
  width: 450px;
}

/*Photo Placement */
.row ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.row ul li{
  background-color: white
}

/*Second Photo Placement */
.placement ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement ul li{
  background-color: white;
}

/* Third Photo Placement */
.placement3 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement3 ul li{
  background-color: white;
}

/* Fourth Placement */
.placement4 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement4 ul li{
  background-color: white;
}

/* Fifth Placement */
.placement5 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement5 ul li{
  background-color: white;
}

/* Sixth Placement */
.placement6 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement6 ul li{
  background-color: white;
}

/* Seventh Placement */
.placement7 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement7 ul li{
  background-color: white;
}

/* Eighth Placement */
.placement8 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement8 ul li{
  background-color: white;
}

/* Ninth Placement */
.placement9 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement9 ul li{
  background-color: white;
}

/* Tenth Placement */
.placement10 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement10 ul li{
  background-color: white;
}

/* Eleventh Placement */
.placement11 ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.placement11 ul li{
  background-color: white;
}
